<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(~˘▾˘)~</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='backgroundor.jquery.js') }}"></script>
    <script src="../static/JS-UI/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">


</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>