<div class="modal modal__bg">
    <div class="modal__close">X</div>
    <div class="modal__content">
        <div class="modal__button date">
            <h1>date</h1>
            <div class="modal__button__inner"><p>{{date}}</p></div>
        </div>
        <div class="modal__button url">
            <h1>url</h1>
            <div class="modal__button__inner"><p>{{url}}</p></div>
        </div>
        <div class="modal__button topics">
            <h1>topics</h1>
            <div class="modal__button__inner"><p>{{topics}}</p></div>
        </div>
        <div class="modal__button subtopics">
            <h1>subtopics</h1>
            <div class="modal__button__inner"><p>{{subtopics}}</p></div>
        </div>
        <div class="modal__button tags">
            <h1>tags</h1>
            <div class="modal__button__inner"><p>{{tags}}</p></div>
        </div>
        <div class="modal__button title">
            <h1>title</h1>
            <div class="modal__button__inner"><p>{{title}}</p></div>
        </div>
        <div class="modal__button subtitle">
            <h1>subtitle</h1>
            <div class="modal__button__inner"><p>{{subtitle}}</p></div>
        </div>
        <div class="modal__button text">
            <h1>text</h1>
            <div class="modal__button__inner"><p>{{text}}</p></div>
        </div>
    </div>
</div>